<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link rel="stylesheet" th:href="@{/styles/cssandjs/main.css}"/>
</head>
<body>

<div th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient" style="background: blue;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/userHomePage}">Vacation Finder</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <li class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/createNewTrip}">Create A New Trip</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/tripHomePage}">My Trips</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/destinations}">Destinations</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li sec:authorize="isAuthenticated()">
                        <span class="text-secondary">Current user:</span>
                        <span class="text-info" th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                        <span class="text-secondary">Roles:</span>
                        <span class="text-info" th:text="${#authentication.getPrincipal().getUserRole()}"></span>
                    </li>
                </ul>
                <form action="#" class="d-flex" method="post" th:action="@{/logout}">
                    <div sec:authorize="isAuthenticated()">
                        <input class="btn btn-light" type="submit" value="Log out"/>
                    </div>
                </form>
            </li>
        </div>
    </nav>
</div>
<h2>Carefully Styled Heading</h2>
<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>
</body>
</html>