<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<h1 align="center">Create Itinerary</h1>

<div align="center">

    <form action="#" method="post" th:action="@{/saveItinerary}" th:object="${newItinerary}">

    <table border="0" cellpadding="10">
        <td>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Itinerary</th>
                </tr>
                <tr>
                    <td>Item 1</td>
                    <td><input required th:field="*{item1}" type="text"/></td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td><input required th:field="*{item2}" type="text"/></td>
                </tr>
                <tr>
                    <td>Item 3</td>
                    <td><input required th:field="*{item3}" type="text"/></td>
                </tr>
<!--                <tr>-->
<!--                    <td>Item 4</td>-->
<!--                    <td><input required th:field="*{item4}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 5</td>-->
<!--                    <td><input required th:field="*{item5}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 6</td>-->
<!--                    <td><input required th:field="*{item6}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 7</td>-->
<!--                    <td><input required th:field="*{item7}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 8</td>-->
<!--                    <td><input required th:field="*{item8}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 9</td>-->
<!--                    <td><input required th:field="*{item9}" type="text"/></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Item 10</td>-->
<!--                    <td><input required th:field="*{item10}" type="text"/></td>-->
<!--                </tr>-->
                <tr>
                    <td colspan="2">
                        <button type="submit">Save</button>
                    </td>
                </tr>
            </table>
        </td>
    </table>

    </form>

</div>
</body>
</html>