<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<h1 align="center">Create Checklist</h1>

<div align="center">
    <table border="0" cellpadding="10">
        </tr>
        <td>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Checklist</th>
                </tr>
                <tr>
                    <td>Renew passport</td>
                </tr>
                <tr>
                    <td>Buy tickets</td>
                </tr>
                <tr>
                    <td>Buy travel size toothpaste/brush</td>
                </tr>
                <tr>
                    <td>Item 4</td>
                </tr>
                <tr>
                    <td>Item 5</td>
                </tr>
                <tr>
                    <td>Item 6</td>
                </tr>
                <tr>
                    <td>Item 7</td>
                </tr>
            </table>
        </td>
        </tr>
    </table>
</div>
</body>
</html>