<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destination Page</title>
    <div th:replace="fragments :: header"/>
    <style>
.t-table {
  border: 1px solid black;
  height: 800px;
  width: 800px
  border-collapse: collapse;
}
.t-table td {
  border: 1px solid black;
}
.t-table td:empty {
  border-left: 0;
  border-right: 0;
}
.t-body{
  display:block;
  height: 1205px;
  width: 800px
  overflow:auto;
  overflow-x:hidden;
  border: 1px solid black;
}

    </style>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<div id="container">

    <br>

    <h1 align="center" class="display-3" th:text="${destination.name}"></h1>

    <br>

    <table class="table">
        <tr>
            <th>Description</th>
        </tr>
        <tr>
            <td>
                <a align="center" th:text="${destination.description}"></a>
            </td>
        </tr>
    </table>

    <br>

    <div align="center">
        <table class="table">
            <tr>
                <th>Gallery</th>
            </tr>
            <tr align="center">
                <td>
                    <div>
                        <div class="row">
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image1}" width="400"
                                     border="10px solid black;"/>
                            </div>
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image2}" width="400"
                                     border="10px solid black;"/>
                            </div>
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image3}" width="400"
                                     border="10px solid black;"/>
                            </div>
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image4}" width="400"
                                     border="10px solid black;"/>
                            </div>
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image5}" width="400"
                                     border="10px solid black;"/>
                            </div>
                            <div class="col-sm">
                                <img height="300" th:src="${destination.image6}" width="400"
                                     border="10px solid black;"/>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <br>

    <table class="table table-hover">
        <tr>
            <th colspan="5" scope="col">Country Facts</th>
        </tr>
        <tr>
            <th>Capital</th>
            <th>Currency</th>
            <th>Population</th>
            <th>Surface Area</th>
            <th>Forest Area</th>
        </tr>
        <tr>
            <div th:if="${country}">
                <td th:text="${country.capital}"></td>
                <td th:text="${country.currency.name}"></td>
                <td th:text="${countryPopulation}"></td>
                <td th:text="${country.surface_area} + ' sq. km'"></td>
                <td th:text="${country.forested_area} + '%'"></td>
            </div>
        </tr>

    </table>

    <br>

    <table class="table table-hover">
        <tr>
            <th colspan="3" scope="col">Activities</th>
        </tr>
        <tr>
            <td th:text="${destination.activity1}"></td>
            <td th:text="${destination.activity2}"></td>
            <td th:text="${destination.activity3}"></td>
        </tr>
    </table>
</div>

<br>
<br>
<br>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>