<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destination Page</title>
    <div th:replace="fragments :: header"/>
    <style>
.t-table {
  border: 1px solid black;
  height: 800px;
  width: 800px
  border-collapse: collapse;
}
.t-table td {
  border: 1px solid black;
}
.t-table td:empty {
  border-left: 0;
  border-right: 0;
}
.t-body{
  display:block;
  height: 1205px;
  width: 800px
  overflow:auto;
  overflow-x:hidden;
  border: 1px solid black;
}


    </style>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<h1 align="center" th:text="${destinationName}"></h1>
<br>

<div align="center">

    <table border="0" cellpadding="0" class="t-table">
        <tbody class="t-body">
        <tr style="line-height: 8px; height: 8px;">
            <td><img height="600" th:src="${destination.image1}" width="800"/></td>
        </tr>
        <tr style="line-height: 8px; height: 8px;">
            <td><img height="600" th:src="${destination.image2}" width="800"/></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table border="0" cellpadding="10">
        <tr>
            <th>Activities</th>
            <td th:text="${destination.activity1}">Activity 1</td>
            <td th:text="${destination.activity2}">Activity 2</td>
            <td th:text="${destination.activity3}">Activity 3</td>
        </tr>
    </table>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>