<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<h1 align="center">Destination Finder</h1>

<div align="center">
    <table border="0" cellpadding="10">
        <tr>
            <td>
                <form action="#" method="post" th:action="@{/destinationFinderResults}" th:object="${questionnaire}">
                    <table border="0" cellpadding="10">
                        <tr align="center">
                            <th>Favorite Scenery</th>
                            <th>Preferred Weather</th>
                            <th>Preferred Activity</th>
                        </tr>
                        <tr>
                            <td><input required th:field="*{favoriteScenery}" type="text"/>
                            <td><input required th:field="*{weather}" type="text"/>
                            <td><input required th:field="*{preferredActivity}" type="text"/>
                        </tr>
                        <tr align="center">
                            <td colspan="3"><input type="submit" value="Submit"></td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>
</html>