<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<br>

<h1 align="center">Destination Finder</h1>

<br>

<div  id="container"  align="center">
    <form action="#" method="post" th:action="@{/destinationFinderResults}" th:object="${questionnaire}">
        <table border="1" cellpadding="10" class="table table-striped table-hover table-bordered">
            <tr align="center">
                <th>Scenery</th>
                <th>Weather</th>
            </tr>
            <tr align="center">
                <td>
                    <select id="preferredScenery" name="preferredScenery" th:field="*{preferredScenery}">
                        <option value="">Select Scenery</option>
                        <option th:text="Beach" value="Beach"></option>
                        <option th:text="Mountains" value="Mountains"></option>
                        <option th:text="Snow" value="Snow"></option>
                    </select>
                </td>
                <td>
                    <select id="preferredWeather" name="preferredWeather" th:field="*{preferredWeather}">
                        <option value="">Select Weather</option>
                        <option th:text="Warm" value="Warm"></option>
                        <option th:text="Cold" value="Cold"></option>
                    </select>
                </td>
            </tr>
        </table>

        <br>

        <input type="submit" value="Submit">
    </form>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>