<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destination Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<h1 align="center" th:text="${destinationName}"></h1>
<br>
<div align="center">

    <table border="0" cellpadding="10">
        <tr>
            <td><img th:src="${destination.image1}"/></td>
            <td><img th:src="${destination.image2}"/></td>
        </tr>
    </table>
    <br>
    <table border="0" cellpadding="10">
        <tr>
            <th>Activities</th>
            <td th:text="${destination.activity1}">Activity 1</td>
            <td th:text="${destination.activity2}">Activity 2</td>
            <td th:text="${destination.activity3}">Activity 3</td>
        </tr>
    </table>

    <div>
        <form method="get" name="selectDestination" th:action="@{/addDestination}">
            <button type="submit">Add To Trip</button>
        </form>
    </div>

</div>
<div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>
</html>