<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Checklist</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div align="center" id="container">

    <br>

    <h1 align="center" class="display-3">Edit Checklist</h1>

    <br>

    <div id="form" align="center">
        <form action="#" method="post" th:action="@{'/saveChecklist/' + ${checklistId}}" th:object="${checklist}">

            <table class="table">
                <tr th:each="item,counter : ${checklist.checklistItems}">
                    <td>
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="Name" required th:field="*{checklistItems[__${counter.index}__]}" type="text">
                        </div>
                    </td>
                </tr>
            </table>

            <button class="btn btn-primary" type="submit">Save</button>

        </form>
    </div>

    <br>
    <br>
    <br>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>