<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Checklist</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<h1 align="center">Edit Checklist</h1>

<div align="center">

    <form action="#" method="post" th:action="@{'/editChecklist/' + ${checklist.id}}" th:object="${checklist}">

        <table border="0" cellpadding="10">
            <td>
                <table border="1" cellpadding="10">
                    <tr>
                        <th>Checklist</th>
                    </tr>
                    <tr th:each="item,counter : ${checklist.checklistItems}">
                        <td><input required th:field="*{checklistItems[__${counter.index}__]}" type="text"/></td>
                    </tr>
                    <tr align="center">
                        <td colspan="2">
                            <button type="submit">Save</button>
                        </td>
                    </tr>
                </table>
            </td>
        </table>

    </form>

</div>
<div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>
</html>