<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: header"></div>
    <style>
        a {
            color: grey;
        }
        a:link {
            color: grey;
            text-decoration: none;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<div align="center" id="container">

    <br>

    <img align="center" src="/images/error_image.jpg"/>
<!--    <h1 class="display-3">Ops!</h1>-->
<!--    <h1 class="display-3">An error has occurred.</h1>-->

    <br>

    <a>Please try again or return to the home page.</a>


</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>

</body>
</html>