<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 align="center">Vacation Planner</h1>

<a align="left" th:href="@{/users}">Users</a>
<br>
<a align="left" th:href="@{/destinations}">Destinations</a>
<br>
<a align="left" th:href="@{/vacationSpotFinder}">Vacation Spot Finder</a>
<br>
<a align="left" th:href="@{/budget}">Holiday Budget</a>

<div align="center">

</div>
</body>
</html>