<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: header"></div>
    <style>
    a {
  color: grey;
}
        a:link {
        color: red;
  text-decoration: none;
 }





    </style>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<div align="center">
    <form method="post" name="login" th:action="@{/login}">
        <table border="0" cellpadding="10">
            <fieldset>
                <tr>
                    <td align="left">
                        <legend>Login</legend>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <div class="alert alert-error" th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div class="alert alert-success" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="left" class="form-actions">
                            <input type="submit" value="Log in"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{register}">Register</a>
                    </td>
                </tr>
            </fieldset>
        </table>
    </form>
</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>

</body>
</html>