<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: header"></div>
    <style>
    a {
  color: grey;
}
        a:link {
        color: grey;
  text-decoration: none;
 }
    </style>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<br>
<div align="center">

    <img src="/images/Logo.jpg"/>
    <form method="post" name="login" th:action="@{/login}">
        <table border="0" cellpadding="10" >
            <fieldset>
                <tr align="center">
                    <td align="left">
                        <legend>Login</legend>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <div class="alert alert-error" th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div class="alert alert-success" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <label for="username">Username</label>
                        <input id="username" name="username" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" colspan="2">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="text"/>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        <input type="submit" value="Log in"/>
                    </td>
                    <td>
                        <a th:href="@{register}">Register</a>
                    </td>
                </tr>
            </fieldset>
        </table>
    </form>
</div>

<!--<div class="div-center">-->


<!--    <div class="content">-->


<!--        <h3>Login</h3>-->
<!--        <hr />-->
<!--        <form>-->
<!--            <div class="form-group">-->
<!--                <label for="exampleInputEmail1">Email address</label>-->
<!--                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="exampleInputPassword1">Password</label>-->
<!--                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Login</button>-->
<!--            <hr />-->
<!--            <button type="button" class="btn btn-link">Signup</button>-->
<!--            <button type="button" class="btn btn-link">Reset Password</button>-->

<!--        </form>-->

<!--    </div>-->


<!--    </span>-->
<!--</div>-->

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>

</body>
</html>