<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<form method="post" name="login" th:action="@{/login}">
    <fieldset>
        <legend>Please login to enter Vacation Finder.</legend>
        <div class="alert alert-error" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-success" th:if="${param.logout}">
            You have been logged out.
        </div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="text"/>
        <div class="form-actions">
            <input value="Log in" type="submit"/>
        </div>
    </fieldset>
</form>
<div>
    <form method="get" name="register" th:action="@{/register}">
        <input value="Register" type="submit"/>
    </form>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>

</body>
</html>