<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div id="container">

    <br>

    <h1 align="center" class="display-3">My Trips</h1>

    <br>

    <table class="table table-hover">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>

        </tr>
        <tr th:each="trip : ${trips}">
            <td th:text="${trip.name}">Name</td>
            <td>
                <a th:href="@{/trip/__${trip.name}__}">View</a>
                <a th:href="@{/dropTrip/__${trip.id}__}">Drop</a>
            </td>
        </tr>
    </table>

    <br>
    <div align="center">
        <form action="#" method="get" th:action="@{/selectTrip}">
            <button class="btn btn-primary" type="submit">Join Trip</button>
        </form>
    </div>
</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>