<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<br>

<h1 align="center">My Trips</h1>

<br>

<div align="center">
    <table border="1" cellpadding="10" class="table table-striped table-hover">
        <tr align="center">
            <th>Name</th>
            <th>Actions</th>

        </tr>
        <tr align="center" th:each="trip : ${trips}">
            <td th:text="${trip.name}">Name</td>
            <td>
                <a th:href="@{/trip/__${trip.id}__}">View</a>
                <a th:href="@{/deleteTrip/__${trip.id}__}">Delete</a>
            </td>
        </tr>
    </table>

    <br>

    <form action="#" method="get" th:action="@{/newTrip}">
        <input type="submit" value="Create New Trip">
    </form>

</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>