<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Destination</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div align="center">
    <h1>Create New Destination</h1>
    <br/>
    <form action="#" method="post" th:action="@{/saveDestination}" th:object="${newDestination}">

        <table border="0" cellpadding="10">
            <tr>
                <td>Name:</td>
                <td><input required th:field="*{name}" type="text"/></td>
            </tr>
            <tr>
                <td>Scenery:</td>
                <td><input required th:field="*{scenery}" type="text"/></td>
            </tr>
            <tr>
                <td>Weather:</td>
                <td><input required th:field="*{weather}" type="text"></td>
            </tr>
            <tr>
                <td>Activity 1:</td>
                <td><input required th:field="*{activity1}" type="text"></td>
            </tr>
            <tr>
                <td>Activity 2:</td>
                <td><input required th:field="*{activity2}" type="text"></td>
            </tr>
            <tr>
                <td>Activity 3:</td>
                <td><input required th:field="*{activity3}" type="text"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>