<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Trip Template</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div id="container" align="center">

    <br>

    <h1 align="center" class="display-3">Create New Template</h1>

    <br>

    <div id="form">

        <hr/>

        <form action="#" method="post" th:action="@{/saveTemplate}" th:object="${trip}">
            <div class="form-group">
                <div align="left">
                    <label for="name">Name</label>
                </div>
                <input class="form-control" id="name" placeholder="Name" required th:field="*{name}" type="text">
            </div>

            <br>

            <div align="center" class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>

        </form>

    </div>

    <br>
    <br>
    <br>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>