<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New User</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<br>

<h1 align="center">Create New User</h1>

<br>

<div align="center">
    <form action="#" method="post" th:action="@{/saveUser}" th:object="${newUser}">

        <table border="0" cellpadding="10" class="table table-striped table-hover">
            <tr>
                <td>First Name:</td>
                <td><input required th:field="*{firstName}" type="text"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input required th:field="*{lastName}" type="text"/></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><textarea required th:field="*{email}" type="email"></textarea></td>
            </tr>
            <tr>
                <td>Phone Address:</td>
                <td><textarea required th:field="*{phone}" type="text"></textarea></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><textarea required th:field="*{username}" type="text"></textarea></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><textarea required th:field="*{password}" type="text"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>