<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Trip</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div align="center">
    <h1>Create New Trip</h1>
    <br/>
    <form action="#" method="post" th:action="@{/saveTrip}" th:object="${destination}">
        <table border="0" cellpadding="10">
            <tr>
                <td>
                    <select id="destinationName" name="destinationName" th:field="*{name}">
                        <option value="">Select Destination</option>
                        <option th:text="Peru" value="Peru"></option>
                        <option th:text="Switzerland" value="Switzerland"></option>
                        <option th:text="Mongolia" value="Mongolia"></option>
                        <option th:text="Bahamas" value="Bahamas"></option>
                        <option th:text="Brazil" value="Brazil"></option>
                    </select>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <button align="center" type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>