<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Register</title>
    <div th:replace="fragments :: header"/>
    <style>
    .error {
        color: red;
    }


    </style>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div align="center" id="container">

    <br>

    <h1 align="center" class="display-3">Create new user to register</h1>

    <br>

    <form action="#" method="post" th:action="@{/register}" th:object="${user}">

        <table class="table table-hover">
            <tr>
                <td>First Name:</td>
                <td>
                    <div>
                        <input required th:field="*{firstName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </td>

            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <div>
                        <input required th:field="*{lastName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td>
                    <div>
                        <input required th:field="*{email}" type="email"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                        </ul>
                    </div>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>
                    <div>
                        <input required th:field="*{phone}" type="text">
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('phone')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <div>
                        <input required th:field="*{username}" type="text">
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <div>
                        <input required th:field="*{password}" type="text">
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>

        <button class="btn btn-primary" type="submit">Register</button>

    </form>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>