<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: guestPageNavigation"/>
<div align="center">
    <h1>You have successfully registered!</h1>
    <div>
        <form method="get" name="userHomePage" th:action="@{/userHomePage}">
            <button type="submit">Click here to Login</button>
        </form>
    </div>
</div>
    <div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>
</html>