<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Switzerland</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<h1 align="center">Switzerland</h1>
<br>
<div align="center">

    <table border="0" cellpadding="10">
        <tr>
            <td><img th:src="@{images/Switzerland1.jpg}"/></td>
            <td><img th:src="@{images/switzerland2.jpg}"/></td>
        </tr>
    </table>
    <br>
    <table border="1" cellpadding="10">
        <tr>
            <td><a>Activities: Skiing, Christmas Markets, and Mountain Tours.</a></td>
        </tr>
        <tr>
            <td><a>Average daily cost excluding logging: $238 per person.</a></td>
        </tr>
    </table>
</div>
<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>