<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1 align="center">Tasks</h1>
<br>
<div align="center">
    <table border="1" cellpadding="10">
        <tr>
            <th>Task ID</th>
            <th>Task</th>
        </tr>
        <tr th:each="task : ${tasksTable}">
            <td th:text="${task.id}">User ID</td>
            <td th:text="${task.task}">First Name</td>
        </tr>
    </table>
    <br>
    <a align="left" th:href="@{/newTask}">Create Task</a>
    <a align="left" th:href="@{/home}">Home page</a>
</div>
</body>
</html>