<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trips Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div id="container">

    <br>

    <h1 align="center" class="display-3">Trip Templates</h1>

    <br>

    <table class="table table-hover">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="trip : ${templates}">
            <td th:text="${trip.name}">Name</td>
            <td>
                <a th:href="@{/template/__${trip.name}__}">View</a>
            </td>
        </tr>
    </table>

    <br>

    <div sec:authorize="hasAuthority('ADMIN')" align="center">
        <form action="#" method="get" th:action="@{/newTemplate}">
            <button class="btn btn-primary" type="submit">Create New Template</button>
        </form>
    </div>

</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>