<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Bahamas</title>
</head>
<body>
<h1 align="center">The Bahamas</h1>
<br>
<div align="center">
    <table border="1" cellpadding="10">
        <tr>
            <td><img th:src="@{images/bahamas1.jpg}"/></td>
        </tr>
        <tr>
            <td><img th:src="@{images/bahamas2.jpg}"/></td>
        </tr>
        <tr>
            <td><a>Activities: Swimming, Scuba diving, and Sport fishing.</a></td>
        </tr>
        <tr>
            <td><a>Average daily cost excluding ticket prices: $200 per person.</a></td>
        </tr>
    </table>
    <br>
    <a align="left" th:href="@{/home}">Home page</a>
</div>
</body>
</html>