<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trip Home Page</title>
    <div th:replace="fragments :: header"></div>
</head>
<body>
<div th:replace="fragments :: navigation"></div>

<div align="center" id="container">

    <br>

    <h1 align="center" class="display-3" th:text="${trip.name} + ' Trip'"></h1>

    <br>

    <table class="table table-hover">
        <tr>
            <th colspan="6">Itinerary</th>
        </tr>
        <tr>
            <th scope="col">Days</th>
            <th scope="col">Day 1</th>
            <th scope="col">Day 2</th>
            <th scope="col">Day 3</th>
            <th scope="col">Day 4</th>
            <th scope="col">Day 5</th>
        </tr>
        <tr>
            <th>Destination</th>
            <td th:text="${trip.itinerary.location1}"></td>
            <td th:text="${trip.itinerary.location2}"></td>
            <td th:text="${trip.itinerary.location3}"></td>
            <td th:text="${trip.itinerary.location4}"></td>
            <td th:text="${trip.itinerary.location5}"></td>
        </tr>
        <tr>
            <th>Meal</th>
            <td th:text="${trip.itinerary.meal1}"></td>
            <td th:text="${trip.itinerary.meal2}"></td>
            <td th:text="${trip.itinerary.meal3}"></td>
            <td th:text="${trip.itinerary.meal4}"></td>
            <td th:text="${trip.itinerary.meal5}"></td>
        </tr>
        <tr>
            <th>Leisure</th>
            <td th:text="${trip.itinerary.leisure1}"></td>
            <td th:text="${trip.itinerary.leisure2}"></td>
            <td th:text="${trip.itinerary.leisure3}"></td>
            <td th:text="${trip.itinerary.leisure4}"></td>
            <td th:text="${trip.itinerary.leisure5}"></td>
        </tr>
        <tr>
            <th>Transport</th>
            <td th:text="${trip.itinerary.transport1}"></td>
            <td th:text="${trip.itinerary.transport2}"></td>
            <td th:text="${trip.itinerary.transport3}"></td>
            <td th:text="${trip.itinerary.transport4}"></td>
            <td th:text="${trip.itinerary.transport5}"></td>
        </tr>
    </table>
    <div sec:authorize="hasAuthority('ADMIN')">
        <form action="#" method="get" th:action="@{/editItineraryFromUserTripPage/__${itineraryId}__}">
            <button class="btn btn-primary" type="submit">Edit</button>
        </form>
    </div>

    <br>

    <table class="table table-hover">
        <tr>
            <th colspan="2" scope="col">Checklist</th>
        </tr>
        <tr>
            <div>
                <td>
                    <div th:if="${checklist.checkbox1 == 'false'}">

                        <input type="checkbox" value="${checklist.checkbox1}"/>

                    </div>
                    <div th:if="${checklist.checkbox1 == 'true'}">
                        <input type="checkbox" checked/>
                    </div>
                </td>
                <td th:text="${checklist.item1}">Item 1</td>
            </div>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item2}">Item 2</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item3}">Item 1</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item4}">Item 2</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item5}">Item 1</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item6}">Item 2</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item7}">Item 1</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item8}">Item 2</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item9}">Item 1</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td th:text="${checklist.item10}">Item 2</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <div>
                    <form action="#" method="get" th:action="@{/newChecklist/__${trip.name}__}">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </form>
                </div>
            </td>
            <td>
                <div>
                    <form action="#" method="get" th:action="@{/editChecklist/__${checklistId}__}">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <img th:src="${weatherUrl}"/>

    <br>
    <br>
    <br>
</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>