<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>
<div align="center">

    <a>Trip completed!</a>

    <div>
        <form method="get" name="tripHomePage" th:action="@{/tripHomePage/__${.trip_id}__}">
            <button type="submit">Continue</button>
        </form>
    </div>
</div>
<div th:replace="fragments :: footer" align="center">&copy; 2022 Vacation Finder</div>
</body>
</html>