<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trip Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<h1 align="center" th:text="${tripName}"></h1>

<div align="center">

    <a>Destinations</a>
    <table border="1" cellpadding="10">
        <tr align="center">
            <th>City 1</th>
            <th>City 2</th>
            <th>City 3</th>
            <th>City 4</th>
            <th>City 5</th>
            <th>Action</th>

        </tr>
        <tr th:each="destination : ${destinations}">
            <td th:text="${destination.city1}">City 1</td>
            <td th:text="${destination.city2}">City 2</td>
            <td th:text="${destination.city3}">City 3</td>
            <td th:text="${destination.city4}">City 4</td>
            <td th:text="${destination.city5}">City 5</td>
            <td><a th:href="@{/destination/__${destination.id}__}">View</a></td>
        </tr>
    </table>

    <table border="0" cellpadding="10">
        <td>
            <table border="1" cellpadding="10" >
                <tr>
                    <th>Itinerary</th>
                </tr>
                <tr>
                    <td th:text="${trip.itinerary.item1}">Item 1</td>
                </tr>
                <tr>
                    <td th:text="${trip.itinerary.item2}">Item 2</td>
                </tr>
                <tr>
                    <td th:text="${trip.itinerary.item3}">Item 3</td>
                </tr>
                <tr align="center">
                    <td><a th:href="@{/itinerary/__${itineraryId}__}">Edit</a></td>
                </tr>
            </table>
        </td>
    </table>

    <table border="0" cellpadding="10">
        <td>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Checklist</th>
                </tr>
                <tr>
                    <td th:text="${trip.checklist.item1}">Item 1</td>
                </tr>
                <tr>
                    <td th:text="${trip.checklist.item2}">Item 2</td>
                </tr>
                <tr>
                    <td th:text="${trip.checklist.item3}">Item 3</td>
                </tr>
                <tr align="center">
                    <td><a th:href="@{/checklist/__${checklistId}__}">Edit</a></td>
                </tr>
            </table>
        </td>
    </table>

</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>