<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destination Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div id="container">

    <br>

    <h1 align="center" class="display-3">Users</h1>

    <br>

    <table class="table table-hover" style="width:100%">
        <tr align="center">
            <th scope="col" style="width:100%">First Name</th>
            <th scope="col" style="width:100%">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
            <th scope="col">Locked</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.username}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>
            <td th:text="${user.role}">Role</td>
            <td th:text="${user.enabled}">Locked</td>
            <td>
                <a th:href="@{/unlockUser/__${user.id}__}">Unlock</a>
                <a th:href="@{/lockUser/__${user.id}__}">Lock</a>
                <a th:href="@{/deleteUser/__${user.id}__}">Delete</a>
            </td>
        </tr>
    </table>

    <br>

    <div align="center">
        <form action="#" method="get" th:action="@{/register}">
            <button class="btn btn-primary" type="submit">Create New User</button>
        </form>
    </div>

    <br>

    <h1 align="center" class="display-5">Find trips connected to a user.</h1>
    <hr/>
    <table class="table">
        <tr>
            <td>
                <form action="#" class="row g-3" method="get" th:action="@{/users}"
                      th:object="${user}">
                    <div class="row" align="center">
                        <div class="col-auto">
                            <label class="visually-hidden" for="username">Username</label>
                            <input class="form-control" id="username" placeholder="Username" th:field="*{username}" type="text">
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="email">Email</label>
                            <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="text">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary mb-3" type="submit">Find Trips</button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>

<!--    <table class="table table-hover">-->
<!--        <tr>-->
<!--            <th colspan="3">Passengers</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th scope="col">Username</th>-->
<!--            <th scope="col">Actions</th>-->
<!--        </tr>-->
<!--        <tr th:each="user : ${usersOnTripList}">-->
<!--            <td th:text="${user.username}">UserName</td>-->
<!--            <td>-->
<!--                <a th:href="@{/removeUser/__${user.id}__}">Remove</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>