<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 align="center">Users</h1>
<br>
<div align="center">
    <table border="1" cellpadding="10">
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>phone</th>
        </tr>
        <tr th:each="user : ${usersTable}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>
        </tr>
    </table>
    <br>
    <a align="left" th:href="@{/newUser}">Create User</a>
    <a align="left" th:href="@{/home}">Home page</a>
</div>
</body>
</html>