<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Destination Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div id="container">

    <br>

    <h1 align="center" class="display-3">Users</h1>

    <br>

    <table class="table table-hover" style="width:100%">
        <tr align="center">
            <th scope="col" style="width:100%">First Name</th>
            <th scope="col" style="width:100%">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
            <th scope="col">Locked</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.username}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>
            <td th:text="${user.role}">Role</td>
            <td th:text="${user.enabled}">Locked</td>
            <td>
                <a th:href="@{/unlockUser/__${user.id}__}">Unlock</a>
                <a th:href="@{/lockUser/__${user.id}__}">Lock</a>
                <a th:href="@{/deleteUser/__${user.id}__}">Delete</a>
            </td>
        </tr>
    </table>

    <br>

    <div align="center">
        <form action="#" method="get" th:action="@{/register}">
            <button class="btn btn-primary" type="submit">Create New User</button>
        </form>
    </div>

</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>