<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="fragments :: header"/>
</head>
<body>
<div th:replace="fragments :: navigation"/>

<div align="center" id="container">

    <br>

    <br>
    <br>
    <br>
    <br>
    <h1 class="display-3" th:text="'Welcome ' + ${#authentication.getPrincipal().getFirstName()} + '!' "></h1>

    <div align="left">

        <a>
            To get started head over to the destinations' page and see what trips are available.
            If you would like to search for a trip with a specific destination, you can use the destination finder to see if that
            trip is available.
            Once you have picked a destination you like, head over to the "My Trips" page and join your desired trip.
            On the trip home page you can view the itinerary and start a personal checklist.
        </a>

        <div align="left" sec:authorize="hasAuthority('ADMIN')">
            As an administrator you have the ability to edit trips, itineraries, and destinations.
            To get started making edits to a trip, head over to the "Trips" page.
            From there you can see all the trips available and select the trip you would like to edit.
            If you would like to create a new trip click the "create new trip" button at the bottom of the page.
        </div>
    </div>

</div>

<div align="center" th:replace="fragments :: footer">&copy; 2022 Vacation Finder</div>
</body>
</html>